@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

:root {
	--primary-orange: hsl(31, 77%, 52%);
	--primary-dark-cyan: hsl(184, 100%, 22%);
	--primary-very-dark-cyan: hsl(179, 100%, 13%);
	--transparent-white: hsla(0, 0%, 100%, 0.75);
	--light-gray: hsl(0, 0%, 95%);
}

* {
	margin: 0;
}

body {
	font-family: 'Lexend Deca';
	font-size: 15px;
}

/* media queries */
/* 
- Mobile: 375px
- Desktop: 1440px     */
